body{
    background-color: #cddaf3;
    margin:0;
}

nav{
    display:inline;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3d3adb;
    position: sticky;
}
  
ul.nav li {
    float: right;
}
  
ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
ul.nav li a:hover {
    background-color: #8babd3;
    color:black;
}

@media (max-width: 680px) {
    ul.nav li {
        float: none;
    }
}