html{
    height:100%;
}
body{
    margin:0;
    height:100vh;
    background-color: rgba(227, 207, 236, .6);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: xx-large;
}

nav{
    display:inline;
}

ul.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9c77e0;
}
  
ul.nav li{
    float: right;
}
  
ul.nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
ul.nav li a:hover{
    background-color: #e3cfec;
    color:#9c77e0;
}

.hero-image{
    height:30%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/code-purple-vibe.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(225, 173, 231);
}


.about-me{
    padding: 20px;
    width: 500px;
    margin: auto;
}

#about-me-title{
    margin-top: 10px;
}

#profile-pic{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
    float: left;
}

.skills{
    margin:0;
    padding: 3%;
}

li{
    list-style-type:none;
}

.tech-skills{
    width:45%;
    float: left;
    padding: 20px;
}

.soft-skills{
    width:45%;
    float:right;
    padding: 20px;
}

@media (max-width: 680px) {
    ul.nav li {
        float: none;
    }

    .about-me{
        float: none;
        width: 80%;
    }

    #profile-pic{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 130px;
    }

    text{
        display: block;
    }

    .soft-skills, .tech-skills{
        float:none;
    }
}